/* Start reset */
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
  }

html {
    font-size: 16px;
  }

  body{
    margin: 0;
    padding: 0;
  }
  
  @media (max-width: 1024px) {
    html {
      font-size: 15px;
    }
  }
  
  @media (max-width: 767px) {
    html {
      font-size: 14px;
    }
  }
  
  @media (min-width: 1921px) {
    html {
      font-size: 1.5vh;
    }
  }
  
  * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  ul,
  ol {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: inherit !important;
  }
  
  a:hover, a:visited, a:active {
    text-decoration: none;
    color: inherit;
  }
  
  input:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: none;
  }
  
  .clearfix {
    clear: both;
  }
  
  .img-responsive {
    max-width: 100%;
    display: block;
  }
  
  /* End reset */

//  navbar start

.navbar {
  background-color: rgba(211, 7, 7, 0.466) !important;
  .social-item{
    font-size: 1rem !important;
  }
  li{
    font-weight: 600 !important;
    color: whitesmoke !important;
    font-size: 0.8rem !important;
  }
}
  
  // navbar stop

  // header start
  .image{
    background-size: cover;
    background-position: center;
  }
  .header{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bk-color{
    background-color: rgba(53, 53, 53, 0.397);
  }


  // quote
  .quote-div{
    .h1{
      font-family: 'Jomolhari', serif;
      text-align: center;
      font-weight: 600;
      font-size: 2.8rem;
    }
    .h1-h{
      font-family: 'Handlee', cursive;
      font-weight: 600;
    }
  }


  .scroll-down{
    position: absolute;
    bottom: 0;
    text-align: center;
    color: white;
    font-weight: 600;
    p{
      line-height: 1px;
    }
  }

  // header stop



  // content start
  .content {
    width: 95%;
    margin: 0 auto;
  }
 
  
  // about start
  .color-bkg{
    background-color: rgba(151, 37, 37, 0.589);
  }
  .about{
    .title{
      text-align: center;
      padding-bottom: 60px;
      .texts{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
      }
      .t-back{
        position: absolute;
        z-index: 2;
        font-size: 4rem;
        color: rgba(255, 255, 255, 0.315);
        font-weight: 600;
        span{
          text-decoration: underline rgba(136, 50, 50, 0.295);
        }
      }
      .t-front{
        position: absolute;
        font-size: 2rem;
        z-index: 3;
        font-weight: 600;
      }
    }
    padding-top: 60px;
    padding-bottom: 60px;

      video{
        width: 100%;
      }
    }

  // .about-grid
  .align-center{
    .grid{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      img{
        display: block;
        width: 100%;
        border-radius: 15px;
        outline: 1px solid yellow;
        outline-offset: -18px;
      }
    }
  }
  .g1{
    h1{
      font-weight: 600;
      color: orange;
      font-size: 2.5em;
    }
    h2{
      font-size: 2.1em;
      font-family: 'Handlee', cursive;
      color: rgb(245, 245, 245);
    }
    flex: 1;
  }
  .g2{
    padding-left: 15px;
    flex: 1;
  }
  .grid {
    margin: 0 auto;
    width: 90%;
  }

  @media (max-width: 990px) {
    .align-center{
      .grid{
        flex-direction: column;
      }
    }
  }

  // about stop

  // services start

  .services{
    background-color: rgb(70, 70, 70);
    padding-top: 60px;
    padding-bottom: 50px;
    .title{
      text-align: center;
      padding-bottom: 40px;
      .texts{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
      }
      .t-back{
        position: absolute;
        z-index: 2;
        font-size: 4rem;
        color: rgba(255, 255, 255, 0.137);
        font-weight: 600;
        span{
          text-decoration: underline rgba(146, 88, 88, 0.295);
        }
      }
      .t-front{
        position: absolute;
        font-size: 2rem;
        z-index: 3;
        font-weight: 600;
      }
    }
    .text{
      text-align: center;
      font-weight: 600;
      padding: 20px 0;

      video{
        width: 100%;
      }
    }

    .cards {
      padding-top: 30px;
      .row{
        text-align: center;
        h1{
          font-weight: 600;
          font-size: 1.3rem;
          padding: 5px;
          color: rgb(196, 189, 189);
        }
        p{
          font-weight: 600;
          color: rgb(34, 34, 34);
        }
        img{
          width: 60px;
        }
      }
    }
    
    .butonn{
      text-align: center;
      padding-bottom: 20px;
      a{
        button{
          font-weight: 600;
          text-decoration: none;
          color: black;
          border: 2px solid black;
          border-radius: 10px;
          transition: color 500ms;
          &:hover{
            color: white;
          }
        }
      }
    }
  }  

  // services stop


  // gallery start

  .bkg-color{
      .butonn{
        text-align: center;
        padding-bottom: 20px;
        button{
          a{
            text-decoration: none;
          }
          background-color: transparent;
          padding: 8px;
          border-radius: 10px;
          border: 2px solid black;
          color: rgb(214, 214, 214);
          font-weight: 600;
          transition: color 500ms;
          &:hover{
            color:rgb(196, 196, 196);
          }
        }
      }
  background-color: rgb(59, 110, 139);
}
.imageGrid{
  .title{
    text-align: center;
    .texts{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
    }
    .t-back{
      position: absolute;
      z-index: 2;
      font-size: 4rem;
      color: rgba(0, 0, 0, 0.137);
      font-weight: 600;
      span{
        text-decoration: underline rgba(146, 88, 88, 0.295);
      }
    }
    .t-front{
      position: absolute;
      font-size: 2rem;
      z-index: 3;
      font-weight: 600;
    }
  }
  padding-top: 60px;
}

.imageGrid-list {
    display: flex;
    flex-wrap: wrap;
}

.imageGrid-list {
    margin: 0;
    padding: 0;
    list-style: none;
    object-fit: cover;
}

.imageGrid-list_item {
    position: relative;
    width: 100%;
    position: relative;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    flex: 0 0 calc(50% - 1rem);
    max-width: calc(50% - 1rem); 
    
    @media (min-width: 768px) {
        flex: 0 0 calc(33.33333%);
        max-width: calc(33.33333% );
    }

}

@supports (display: grid) {
    .imageGrid-list {
        list-style: none;
        margin-top: 5rem;
        // margin-bottom: 3rem;
        padding-bottom: 2rem;
        
        @media (min-width: 992px) {            
            display: grid !important;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 2fr);
            grid-gap: 3px;
            // padding-left: 5rem;
            // padding-right: 5rem;
        }
    
    }
    
    .imageGrid-list {
        @media (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
        }
    }
    
    .imageGrid-list_item {
      @media (min-width: 992px) {
          flex: auto;
          max-width: inherit;
      }

        margin-bottom: 0;
        padding: 0;

        @media (max-width: 991.98px) {
            position: relative;
            width: 100%;
            flex: 0 0 calc(50% - 1rem);
            max-width: calc(50% - 1rem);
            margin-bottom: 1rem;
        }

        &:before {
            display: inline-block;
            width: 1px;
            height: 0;
            padding-bottom: calc(100% / 1/1);
            content: '';
        }

        img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        @media (min-width: 992px) {
            margin: 0;
            
            &:nth-child(3) {
                grid-column: 3/ span 2;
                grid-row: 1 / span 2;
            }
        
            &:nth-child(4) {
                grid-column: 1 / span 2;
                grid-row: 2 / span 2;
            }
        
            img {
                object-fit: cover;
            }
        }

        @media (max-width: 600px) {
          flex: 0 0 calc(100% - 1rem);
            max-width: calc(100% - 1rem);
        }
    }    
}

  // gallery stop



  // content stop


  // footer start

  .footer{
    background-color: rgb(219, 219, 219);
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .col{
      h1{
        font-size: 1rem;
      }
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .links{
      text-align: center;
      ul{
        li{
          font-size: 1.3rem;
          display: inline-block;
          padding: 10px;
        }
      }
    }
    .image{
      width: 120px;
      img{
        border-radius: 10px;
        width: 100%;
      }
    }
  }

  // footer stop

  // credits
  .credits{
    background-color: rgb(219, 219, 219);
    padding-bottom: 0;
    text-align: center;
    p{
      color: rgba(20, 20, 20, 0.5);
      a{
        text-decoration: none;
        &:hover{
          color: red !important;
          font-weight: 600;
        }
      }
      margin: 0;
      font-size: 0.8rem;
      padding: 0;
    }
  }