* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover,
  &:visited,
  &:active {
    text-decoration: none;
    color: inherit;
  }
}

input:focus {
  box-shadow: none;
  outline: none;
}

.clearfix {
  clear: both;
}

.img-responsive {
  max-width: 100%;
  display: block;
}
