@import "reset";
@import url("https://fonts.googleapis.com/css?family=Gayathri:100,400&display=swap");
body {
  background-color: rgb(241, 241, 241);
  font-family: "Gayathri", sans-serif;
  height: 100%;
  width: 100%;
}
$color-red: rgb(240, 53, 21);
.nav-bar {
  padding-top: 40px;
  font-weight: 400;
  .img {
    padding-bottom: 15px;
    text-align: center;
    img {
      max-width: 18rem;
    }
  }
  .nav-meniu {
    text-align: center;
    ul {
      list-style-type: none;
    }
    li {
      display: inline-block;
      padding: 10px;
      font-size: 14px;
      &:hover {
        color: $color-red;
        transition: color 0.4s;
        font-weight: 600;
      }
    }
  }
  .buton-hidden {
    display: none;
    color: black;
    img {
      float: right;
      width: 30px;
    }
  }
}

.div-nav {
  display: none;
  overflow: hidden;
  z-index: 99;
  width: 100%;
  height: 100vh;
  text-align: center;
  li {
    padding: 30px;
    font-size: 40px;
  }
}

.container {
  padding-top: 20px;
  .background-scroll {
    background-image: url("../img/camioane.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;

    .text {
      background-color: rgba(0, 0, 0, 0.712);
      padding-top: 190px;
      padding-bottom: 190px;
      color: #ffffff;
      line-height: 60px;
      font-weight: 100;
      font-size: 1.5rem;
      font-family: "Gayathri", sans-serif;
    }
  }

  .despre {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    font-size: 1.1rem;
    h1 {
      font-weight: 100;
      font-size: 3rem;
    }
    p {
      color: grey;
      padding-top: 20px;
      font-weight: 400;
    }
  }

  .servicii-top {
    text-align: center;
    background-image: url("../img/servicii-top.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    h1 {
      padding-top: 200px;
      padding-bottom: 200px;
      color: white;
      font-size: 2.5rem;
      background-color: rgba(0, 0, 0, 0.589);
    }
  }
  .servicii {
    padding-top: 60px;
    .flex-grid{
      display: flex;
      flex-direction: row;
    align-items: center;
    }

    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0, 0, 0); /* Fallback color */
      background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 90%;
      p {
        font-size: 1.1rem;
        padding-bottom: 20px;
        font-weight: 600;
      }
    }

    /* The Close Button */
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
    #myBtn {
      border: none;
      background-color: inherit;
      color: blue;
      cursor: pointer;
      &:hover {
        font-weight: 600;
      }
    }
  }

  .flex-grid {
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 40px;
  }
  .servicii-1,
  .servicii-3 {
    .text-servicii {
      padding-left: 10px;
      order: 2;
      width: 50%;
    }
    .img-servicii {
      order: 1;
      width: 50%;
    }
  }
  
  .servicii-2,
  .servicii-4 {
    .text-servicii {
      padding-right: 10px;
      width: 50%;
    }
    .img-servicii {
      width: 50%;
    }
  }
  .text-servicii {
    text-align: center;
    h1 {
      font-size: 1.9rem;
    }
  }
  .img-servicii {
    max-width: 500px;
    img {
      width: 100%;
    }
  }

  .reviews-container {
    padding-top: 120px;
    padding-bottom: 120px;
    .reviews {
      padding-top: 25px;
      display: flex;
      justify-content: start;
      align-items: center;
      justify-content: space-evenly;
      text-align: center;
      flex-wrap: wrap;
      .review {
        margin-top: 5px;
        .nume {
          font-size: 1.5rem;
        }
        .review {
          font-size: 1.4rem;
        }
      }
    }

    h1 {
      text-align: center;
      font-weight: 400;
    }
  }

  .contact {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    align-items: center;
    background-color: rgb(223, 223, 223);
    .poza {
      display: block;
      width: 100%;
      .mapouter{
        .gmap_canvas{
          iframe{
            width: 100%;
            height: 500px;
            display: block;
          }
        }
      }
    }
    .col {
      flex: 1;
    }
    .date {
      text-align: center;
      width: 100%;
      a {
        &:hover {
          color: blue;
        }
      }
      ul {
        list-style-type: none;
        li {
          padding: 4px;
        }
      }
    }
    .poza {
      img {
        width: 100%;
      }
    }
  }

  .footer {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    a {
      &:hover {
        color: red;
        font-weight: 900;
      }
    }
  }
}

ul#ul2 {
  li {
    display: inline-flex;
    img {
      width: 24px;
      height: 15px;
    }
  }
}

@media only screen and (max-width: 999px) {
  #contact {
    display: block;
    width: 100%;
    padding-top: 20px;
  }
}

@media only screen and (max-width: 768px) {
  #despre {
    h1 {
      font-size: 2rem;
    }
    p {
      font-size: 1rem;
    }
  }
  .servicii h1 {
    font-size: 1.4rem;
  }
  .servicii p {
    font-size: 1rem;
  }
  .contact h1 {
    font-size: 1.4rem;
  }
  .contact li {
    font-size: 0.9rem;
  }
  .nav-bar img {
    width: 12rem;
  }
  .container .background-scroll .text {
    font-size: 1rem;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .servicii-top h1 {
    font-size: 2rem !important;
    padding-bottom: 100px !important;
    padding-top: 100px !important;
  }
  .servicii-1,
  .servicii-3 {
    .text-servicii {
      order: 1 !important;
      width: 100% !important;
    }
    .img-servicii {
      order: 2 !important;
      width: 100% !important;
    }
  }
  .flex-grid {
    width: 100% !important;
        display: flex;
        flex-direction: column !important;
      align-items: center;
  }
  .servicii-2,
  .servicii-4 {
    .text-servicii {
      width: 100% !important;
    }
    .img-servicii {
      width: 100% !important;
    }
  }

  .text-servicii,
  .img-servicii {
    padding: 0 !important;
  }

  .text-servicii {
    border: 10px !important;
  }

  .img-servicii img {
    width: 90% !important;
    border: 5px solid rgb(192, 192, 192) !important;
  }
}

@media only screen and (max-width: 500px) {
  .img-servicii img {
    width: 100% !important;
    border: 5px solid rgb(192, 192, 192) !important;
  }
}

@media only screen and (max-width: 411px) {
  .container .background-scroll .text {
    font-size: 0.8rem;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
