@import "../../style/colors.scss";
@import "../../style/mediaquery.scss";
@import "../../style/fonts.scss";

.about-me {
  background-color: $background-color2;
  height: 70vh;

  .wrapper {
    @include for-phone-only {
      flex-direction: column;
    }
  }

  &__details {
    width: 70%;

    &--text {
      color: $text-color;
      font-size: $secondary-font;
      width: 70%;
    }

    @include for-phone-only {
      width: 100%;

      &--text {
        width: 100%;
      }
    }
  }

  &__image {
    width: 30%;
    height: 100%;
  }
}
