@import "../../style/colors.scss";
@import "../../style/mediaquery.scss";

.header {
  display: flex;
  flex-direction: row;
  user-select: none;
  background-color: $background-color;
  width: 100%;
  height: 100vh;
  position: relative;

  &__image {
    position: absolute;
    top: 24%;
    right: 0;
    opacity: 0.3;
    height: 100vh;
    width: 40vw;

    @include for-phone-only {
      width: 100vw;
      display: none;
      top: 26%;
    }

    &--image {
      height: 100%;
      filter: grayscale(1);
    }
  }

  &__details {
    margin-right: 20%;
    color: $text-color;
    text-align: center;
    flex-direction: column;
    width: 600px;

    @include for-phone-only {
      margin: 0;
    }

    &--header {
      font-size: 50px;

      @include for-phone-only {
        font-size: 30px;
      }
    }

    &--job {
      font-size: 16px;
      margin-top: 5px;
      font-weight: bold;

      @include for-phone-only {
        font-size: 14px;
      }
    }

    &--contact-btn {
      margin-top: 10px;
    }

    &--social {
      ul {
        list-style: none;
        display: flex;
      }
    }
  }
}
